<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
sl = s.lower()
sl.count("python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
ls1 = ["apple","banana","cherry"]
ls2 = ["apple","banana","cherry","apple","cherry"]
new_list = ls1+ls2
print(new_list)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [ ]:
from typing import KeysView
A_dict = {"Name":["Myo","Thida"],"Age":[32,64]}
print(A_dict)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [ ]:
set1 = {"Name","age","Height"}
set2 = {"Name","status","Education"}
Two_set = set1.union(set2)
print(Two_set)
len(Two_set)

{'status', 'Name', 'Education', 'age', 'Height'}

5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [ ]:
StringA = input("Enter a string: ")
new_string = StringA.replace(StringA[1],"*") + 3*"!"
print(new_string)

Enter a string: Nay
N*y!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
sl = s.lower()
sr1 = sl.replace(";"," ")
sr2 = sr1.replace("-"," ")
sr3 = sr2.replace(","," ")
print(sr3)

floating point values in python are always done in double precision  hence  python float types correspond to doubles in a c like language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [1]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

L1_set = set(L1)
L2_set = set(L2)
Missing_Number = L1_set.difference(L2_set)
print(Missing_Number)

{4}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [ ]:
ls1 = ["apple","banana","cherry"]
ls2 = ls1.copy()
ls3 = ["blueberry"]
ls_new = ls2 + ls3
print(ls_new)
print(ls1)

['apple', 'banana', 'cherry', 'blueberry']
['apple', 'banana', 'cherry']