<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [63]:
length = len ("My name is python")
print (f"The length of (My name is python) is {length}.")

The length of (My name is python) is 17.

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [11]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.lower().count("python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [64]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls1.extend(ls2)
print(len(ls1))

8

Ex 4: Create a dictionary for the following table:

| Name | Age | 
| --- | --- | 
| Myo | 32 |
| Thida | 64 |

In [16]:
dict = {"Myo":32, "Thida":64}
print (dict)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [4]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print (f"The combined set is {combined_set}")
print (len(combined_set))

The combined set is {'Height', 'Name', 'age', 'status', 'Education'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [3]:
user_string = input ("Enter a string: ")
new_string = user_string [0] + '*' + user_string[2:]+ '!!!'
print (f"The new string is {new_string}")

The new string is Y*u are smart!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [24]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
result_string = s.lower().replace('-','').replace(';','').replace(',','').replace('.','')
print(result_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [47]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
missing_number = set(L1).difference(set(L2))
print("The missing number is {}.".format(missing_number.pop()))

The missing number is 56.

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [2]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_fruit = ["blueberry"]
new_list.extend(new_fruit)
print(ls1)
print(f"The new list is {new_list}")

['apple', 'banana', 'cherry']
The new list is ['apple', 'banana', 'cherry', 'blueberry']