Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [4]:
from datetime import datetime

current_year = datetime.now().year

age = lambda year : current_year - year
age (1998)

27

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [ ]:
#how do we limit/define data type in lambda
price = lambda cost : cost + (cost * 0.1)
price(100)

110.0

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [6]:
email_address = lambda name,domain : name + '@' + domain + '.com'
email_address('chanmra', 'gmail')

'chanmra@gmail.com'

Q4) Lambda in Data Science/Data Analysis

In [24]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Myanmar-Data-Tech/MMDT_T-PY101/refs/heads/master/data/rentals.csv")

# Q4.1) Create a new column called "size" where each entry is 
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.

df['size'] = df['bathrooms'].apply(lambda x : 'large' if x > 3 else 'small')




# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where 
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.

df["price"] = df["price"].str.replace("$", "").str.replace(",", "").str.replace(" ","").astype(float)

df['price_category'] = df['price'].apply(lambda x : 'premium' if x>100 else 'standard')


# -----------------------------------------------------------------#
# Do not change the code below: 
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df.head(5)

DataFrame has 11 columns

,id,latitude,longitude,property_type,room_type,bathrooms,bedrooms,minimum_nights,price,size,price_category
0,958,37.76931,-122.43386,Apartment,Entire home/apt,1.0,1.0,1,170.0,small,premium
1,3850,37.75402,-122.45805,House,Private room,1.0,1.0,1,99.0,small,standard
2,5858,37.74511,-122.42102,Apartment,Entire home/apt,1.0,2.0,30,235.0,small,premium
3,7918,37.76669,-122.45250,Apartment,Private room,4.0,1.0,32,65.0,large,standard
4,8142,37.76487,-122.45183,Apartment,Private room,4.0,1.0,32,65.0,large,standard