<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [7]:
my_name = "My name is python"
my_name_len = len(my_name)
print(my_name_len)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [70]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
lower_s = s.lower()
num_s = lower_s.count("python")
print(num_s)

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [8]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_ls = ls1+ls2
num_ele  = len(new_ls)
print(num_ele)

8

Ex 4: Create a dictionary for the following table:

| Name | Age | 
| --- | --- | 
| Myo | 32 |
| Thida | 64 |

In [10]:
my_name1={"Name":"Myo","Age":32}
my_name2={"Name":"Thida","Age":64}
print(my_name1, my_name2)

{'Name': 'Myo', 'Age': 32} {'Name': 'Thida', 'Age': 64}

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [16]:
set1 = {"Name", "age", "Height"} 
set2 = {"Name", "status", "Education"}
my_set = set1.union(set2)
my_set_len = len(my_set)
print(my_set_len)

5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [97]:
string = input("Enter a string")
new_string = string.replace(string[1],"*")+"!!!"
print(new_string)

Enter a stringhello
h*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [104]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_lowercase = s.lower()
s_hy = s_lowercase.replace("-", " ")
s_se = s_hy.replace(";", " ")
s_com = s_se.replace(",", " ")
print(s_com)

floating point values in python are always done in double precision  hence  python float types correspond to doubles in a c like language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [107]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
L2 = set(L1).difference(set(L2))
print(L2)

{64}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [47]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list = ["apple", "banana", "cherry","blueberry"]
print("ls1: ", ls1)
print("new list: ", new_list)

ls1:  ['apple', 'banana', 'cherry']
new list:  ['apple', 'banana', 'cherry', 'blueberry']