Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [1]:
from datetime import datetime

current_year = datetime.now().year
age_calculate = lambda year : current_year-year
age_calculate(1997)

28

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [2]:
cost_price = lambda cost : cost + cost * 10/100
cost_price(150)

165.0

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [3]:
gmail = lambda name, domain: name + '@' + domain + '.com'
gmail('minho','gmail')

'minho@gmail.com'

Q4) Lambda in Data Science/Data Analysis

In [20]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Myanmar-Data-Tech/MMDT_T-PY101/refs/heads/master/data/rentals.csv")

# Q4.1) Create a new column called "size" where each entry is 
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.

df['size'] = df['bathrooms'].apply(lambda x: 'large' if x > 3 else 'small')




# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where 
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.

df['price_clean'] = (
    df['price']
    .astype(str)
    .str.replace(" ", "")
    .str.replace("$", "")
    .str.replace('"', '')
)

df['price_category'] = df['price_clean'].apply(
    lambda x: 'premium' if x > 100 else 'standard'
)
# -----------------------------------------------------------------#
# Do not change the code below: 
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_7500\3195296709.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace("$", "")

TypeError: '>' not supported between instances of 'str' and 'int'