<a href="https://colab.research.google.com/github/myothida/PythonProgramming/blob/main/Ex_2_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [4]:
my_string = "My name is python"
print("Length of the string :{}".format(len(my_string)))

Length of the string :17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [16]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_lower = s.lower()
s_count = s_lower.count("python")
print("number of times (python) appeared in paragraph is -> {}".format(s_count))

number of times (python) appeared in paragraph is -> 2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [18]:
ls1 = ["apple", "banana", "cherry"] 
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls = ls1 + ls2
print("Number of elements in new list: {}".format(len(ls)))

Number of elements in new list: 8

Ex 4: Create a dictionary for the following table:

| Name | Age | 
| --- | --- | 
| Myo | 32 |
| Thida | 64 |

In [25]:
personal = {"Name":["Myo", "Thida"], "Age": [32, 64]}
print (personal)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

Ex 5: Combine two sets and print the combined set and its length. 
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [30]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set = set1.union(set2)
print(combined_set)
print("Length of combined set: {}".format(len(combined_set)))

{'Education', 'status', 'Height', 'Name', 'age'}
Length of combined set: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [39]:
my_str = input("Enter string input: ")
new_str = my_str.replace(my_str[1],"*")+"!!!"
print(new_str)

h*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [42]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_low = s.lower()
s_low = s_low.replace(".","")
s_low = s_low.replace("-","")
s_low = s_low.replace(",","")
s_low = s_low.replace(";","")
print(s_low)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [50]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

S1 = set(L1)
S2 = set(L2)
missing = S1.difference(S2)
print("Missing Number in L2 is")
print(missing)

Missing Number in L2 is
{91}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [63]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
new_list

['apple', 'banana', 'cherry', 'blueberry']