Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [ ]:
from datetime import datetime

current_year = datetime.now().year


age_calc = lambda year : current_year - int(year)

age_calc(1999)

26

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [7]:

final_price = lambda cost : cost + cost*0.1

final_price(200)

220.0

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [9]:
email_gen = lambda name, domain : name + '@' + domain + '.com'

email_gen("john", "yahoo")

'john@yahoo.com'

Q4) Lambda in Data Science/Data Analysis

In [12]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 5.0 MB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 kB 5.2 MB/s eta 0:00:00a 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 kB 4.7 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.22.4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/tklwin/Library/Python/3.10/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/tklwin/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [24]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Myanmar-Data-Tech/MMDT_T-PY101/refs/heads/master/data/rentals.csv")

# Q4.1) Create a new column called "size" where each entry is 
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.


df['size'] = df['bathrooms'].apply(lambda x : 'large' if x > 3 else 'small')



# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where 
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.


df['price_category'] = df['price'].apply(lambda x : 'premium' if float(x.replace(',','').replace('$','').strip()) > 100 else 'standard')



# -----------------------------------------------------------------#
# Do not change the code below: 
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df.head()

DataFrame has 11 columns

,id,latitude,longitude,property_type,room_type,bathrooms,bedrooms,minimum_nights,price,size,price_category
0,958,37.76931,-122.43386,Apartment,Entire home/apt,1.0,1.0,1,$170.00,small,premium
1,3850,37.75402,-122.45805,House,Private room,1.0,1.0,1,$99.00,small,standard
2,5858,37.74511,-122.42102,Apartment,Entire home/apt,1.0,2.0,30,$235.00,small,premium
3,7918,37.76669,-122.45250,Apartment,Private room,4.0,1.0,32,$65.00,large,standard
4,8142,37.76487,-122.45183,Apartment,Private room,4.0,1.0,32,$65.00,large,standard