Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [3]:
from datetime import datetime

current_year = datetime.now().year
print(f"current_year: {current_year}")

birth_year = int(input("Enter your birth year: "))
age_calculate = lambda birth_year: current_year - birth_year

print(age_calculate(birth_year))

current_year: 2025
Enter your birth year: 1987
38

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [7]:
cost = float(input("Enter a cost ($): "))
price_calculate = lambda price: cost*1.1

print("The price: ",price_calculate(cost))

Enter a cost ($): 120
The price:  132.0

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [10]:
name = input("Enter a name: ")
domain = input("Enter a domain: ")

email = lambda name,domain: name + "@" + domain + ".com"
print(email(name,domain))

Enter a name: ohnmar
Enter a domain: gmail
ohnmar@gmail.com

Q4) Lambda in Data Science/Data Analysis

In [42]:
import pandas as pd

df = pd.read_csv("./data/rentals.csv")
df.head()

# Q4.1) Create a new column called "size" where each entry is
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.

df['size'] = df['bathrooms'].apply(lambda x: 'large' if x>3 else 'small')


# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.

price = df['price'].str.replace('$', '', regex=False).str.strip()
price = price.str.replace(',', '', regex=False).str.strip()
price = pd.to_numeric(price)
df['price_category'] = price.apply(lambda x: 'premium' if x>100 else 'standard')


# -----------------------------------------------------------------#
# Do not change the code below:
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df

<class 'pandas.core.series.Series'>
DataFrame has 11 columns

,id,latitude,longitude,property_type,room_type,bathrooms,bedrooms,minimum_nights,price,size,price_category
0,958,37.76931,-122.43386,Apartment,Entire home/apt,1.0,1.0,1,$170.00,small,premium
1,3850,37.75402,-122.45805,House,Private room,1.0,1.0,1,$99.00,small,standard
2,5858,37.74511,-122.42102,Apartment,Entire home/apt,1.0,2.0,30,$235.00,small,premium
3,7918,37.76669,-122.45250,Apartment,Private room,4.0,1.0,32,$65.00,large,standard
4,8142,37.76487,-122.45183,Apartment,Private room,4.0,1.0,32,$65.00,large,standard
...,...,...,...,...,...,...,...,...,...,...,...
8106,39342094,37.74010,-122.41196,House,Private room,2.0,3.0,30,$699.00,small,premium
8107,39343373,37.77799,-122.42159,Condominium,Entire home/apt,1.0,1.0,1,$200.00,small,premium
8108,39344101,37.73410,-122.38917,Hut,Private room,2.0,1.0,30,$69.00,small,standard
8109,39350028,37.78144,-122.41207,Apartment,Entire home/apt,1.0,1.0,30,$187.00,small,premium
8110,39354181,37.70707,-122.44812,House,Private room,1.0,2.0,1,$200.00,small,premium