<a href="https://colab.research.google.com/github/ohnmarnyunt/MMDT_T-PY101_2025_Batch02/blob/main/ohnmarnyunt/Ex1_Python_OhnmarNyunt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This section introduces the Python Programming uisng Colab. Follow the instructions and complete the exercises.

# Ex 1 : Check Version

Using the below cell, Import the required library and check the version of the python in your environment.

In [1]:
import numpy as np
import pandas as pd
import sys
sys.version

'3.12.11 (main, Jun  4 2025, 08:56:18) [GCC 11.4.0]'

# Ex2 : Convert Currency.

Write a program that asks the user for the amount in usd and converts it to British pounds. The exchange rate is from usd to BP is given as 0.82

In [2]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = float(usd_amount) *0.82
print("{} usd is equivalent to {} british pound".format(usd_amount, bp_amount))

Enter the amount in USD: 100
100 usd is equivalent to 82.0 british pound

# Ex 3: Temperature Converter

Write a program that convert temperature in Feranhite to celsius.

In [3]:
feranhite = input ("Enter the temperature in Feranhite: ")
celsius = 5/9 * (float(feranhite)-32)
print("{} feranhite is equivalent to {} celsius".format(feranhite, celsius))

Enter the temperature in Feranhite: 98
98 feranhite is equivalent to 36.66666666666667 celsius

# Ex 4: Daily Maths

You are working in a retail shop. Write a program that computes the total cost for a customer that bought 3 differnt types of fruits : apple, orange, mango. Ask the user to enter the quantity and price for each type.

In [4]:
apple_qty = input("Enter the quantity for apple: ")
apple_price = input("Enter the price for apple: ")

orange_qty = input("Enter the quantity for orange: ")
orange_price = input("Enter the price for orange: ")

mango_qty = input("Enter the quantity for mango: ")
mango_price = input("Enter the price for mango: ")

total_cost = (int(apple_qty)*float(apple_price)) + (int(orange_qty)*float(orange_price)) + (int(mango_qty)*float(mango_price))

print ("Total cost: {}".format(total_cost))

Enter the quantity for apple: 5
Enter the price for apple: 100
Enter the quantity for orange: 4
Enter the price for orange: 80
Enter the quantity for mango: 3
Enter the price for mango: 150
Total cost: 1270.0

# Ex 5 : Greeting

Write a program to greet the customer who provides the user name. Your program should ask the name of the customer and print "Hello + customer name"

In [5]:
customer = input("Enter the customer name: ")
print("Hello " + customer)

Enter the customer name: Ohnmar
Hello Ohnmar

# Ex 6: Random Number
Write a program that generates a random number, x, between 1 and 50, a random number y between 2 and 5, and computes x^y.

In [6]:
from random import randint
x = randint(1,50)
y = randint(2,5)
print('A random number between 1 and 50: ', x)
print('B random number between 2 and 5: ', y)
print('x^y: ', x**y)

A random number between 1 and 50:  25
B random number between 2 and 5:  2
x^y:  625

# Ex 7: Greet many times.
Write a program that generates a random number between 1 and 10 and prints your name that many times.

In [7]:
times = randint(1,10)
name = input("Enter your name: ")
print(times * name)

Enter your name: Ohnmar
Ohnmar Ohnmar

# Ex 8: Computing.
Write a program that asks the user to enter two numbers, x and y, and computes |x-y|/(x+y).

In [8]:
x = float(input("Enter the first number: "))
y = float(input("Enter the second number: "))
result = abs(x-y)/(x+y)
print("|x-y|/(x+y): ",result)

Enter the first number: 30
Enter the second number: 22
|x-y|/(x+y):  0.15384615384615385

# Ex 9: Computing

Write a program that asks the user for a number of seconds and prints out how many minutes and seconds that is. For instance, 200 seconds is 3 minutes and 20 seconds.

In [9]:
total_seconds = int(input("Enter a number of seconds: "))
minutes = total_seconds//60
seconds = total_seconds%60
print(f"{total_seconds} seconds is  {minutes} minutes and {seconds} seconds.")

Enter a number of seconds: 2000
2000 seconds is  33 minutes and 20 seconds.

# Ex 10: Using Math Module

Write a program that asks the user for a number and then prints out the sine, cosine, and tangent of that number.

In [10]:
import math
num = float(input("Enter a number:"))
radian = math.radians(num)
sine_value = math.sin(radian)
cosine_value = math.cos(radian)
tangent_value = math.tan(radian)
print("Sine: ",sine_value)
print("Cosine: ",cosine_value)
print("Tangent: ",tangent_value)

Enter a number:45
Sine:  0.7071067811865475
Cosine:  0.7071067811865476
Tangent:  0.9999999999999999