<a href="https://colab.research.google.com/github/ohnmarnyunt/MMDT_T-PY101_2025_Batch02/blob/main/ohnmarnyunt/OMN_Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
my_string="My name is python"
len(my_string)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [2]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower()
print(s.count("python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [5]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1 + ls2
print("The number of elements in new list : ",len(new_list))

The number of elements in new list :  8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [6]:
my_dict = {"Myo":32,"Thida":64}
my_dict

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [7]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(f"The combined set is {new_set} and its length is {len(new_set)}")

The combined set is {'Name', 'age', 'status', 'Height', 'Education'} and its length is 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [8]:
my_string = input("Enter a string: ")
new_string = my_string.replace(my_string[1],"*") + "!!!"
print(new_string)

Enter a string: ohnmar
o*nmar!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [9]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s = s.lower().strip().replace("-","").replace(";","").replace(",","").replace(".","")
print(s)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [15]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

missing_num = set(L1).difference(set(L2))
print(missing_num)

{24}

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [10]:
ls1 = ["apple", "banana", "cherry"]
new_list = ls1.copy()
new_list.append("blueberry")
print("The original list is ",ls1)
print("The new list is ",new_list)

The original list is  ['apple', 'banana', 'cherry']
The new list is  ['apple', 'banana', 'cherry', 'blueberry']