<a href="https://colab.research.google.com/github/mshninwuttyi/MMDT_T-PY101_2025_Batch02/blob/main/hnin_wutt_yi/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [1]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(10,5)

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [9]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(2)

48

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [11]:
def number_of_factors(num):
  count = 0
  for i in range(1, num + 1):
    is_factor = num % i
    if is_factor == 0:
      count += 1

  return count

number_of_factors(2)

2

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [41]:
def first_diff(first_string, second_string):
  first_str = first_string.lower()
  second_str = second_string.lower()
  if first_str == second_str:
    return -1

  for i in range(len(first_str)):
    if first_str[i] != second_str[i]:
      return i

first_diff('hello', 'hi')

1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [45]:
def root(x, n = 2):
  return x/n

root(10,5)

2.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [48]:
def solve(a, b, c, d, e, f):
  x = (e*d - b*f) / (a*d - b*c)
  y = (a*f - e*c) / (a*d - b*c)
  return x, y

solve(1, 1, 3, 4, 5, 6)

(14.0, -9.0)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [51]:
def change_case(userString):
  new_str = ''
  for char in userString:
    if char.isupper():
      new_str += char.lower()
    elif char.islower():
      new_str += char.upper()
    else:
      new_str += char

  return new_str

change_case('Hello')

'hELLO'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [53]:
def primes(n = 100):
  primes_list = []
  num = 2
  while len(primes_list) < n:
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes_list.append(num)
        num += 1
  return primes_list

primes(2)

[2, 3]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [94]:
import random

def place_random_o(board):
  empty_cells = []
  for i in range(3):
      for j in range(3):
        if board[i][j] == 0:
          empty_cells += [[i,j]]

  i, j = random.choice(empty_cells)

  board[i][j] = 2

  return board


initialBoard = [
    [0, 2, 0],
    [0, 2, 1],
    [0, 1, 0]
]
new_board = place_random_o(initialBoard)
for row in new_board:
  print(row)

[0, 2, 0]
[0, 2, 1]
[2, 1, 0]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”