Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [1]:
from datetime import datetime

current_year = datetime.now().year
age = lambda year: current_year - year


print(age(2000))

25

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

In [2]:
price = lambda cost: cost * 1.10
print(price(100.0))

110.00000000000001

Q3) For the given name list : names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

Write a python program that converts each name into email address. The domain is given as gmail.

In [3]:
names = ['Richard', 'Karam', 'Karpo', 'Sonam', 'Ugyen']

emails = [name.lower() + "@gmail.com" for name in names]

print(emails)

['richard@gmail.com', 'karam@gmail.com', 'karpo@gmail.com', 'sonam@gmail.com', 'ugyen@gmail.com']

Q4) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

In [4]:
email = lambda name, domain: f"{name.lower()}@{domain.lower()}"
print(email("Richard", "gmail.com"))

richard@gmail.com

Q5) old_list = [2, 4, 6, 7, 9]

write a list comprehension to square each element of the given old_list.

In [5]:
old_list = [2, 4, 6, 7, 9]

new_list = [x**2 for x in old_list]

print(new_list)

[4, 16, 36, 49, 81]